<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="HMS">
  <test name="LoginTest">
  	<parameter name="browser" value="chrome"/>
    <classes>
      <class name="com.uiautomation.test.LoginPageTest"/>
    </classes>
  </test> <!-- LoginTest -->
</suite> <!-- HMS -->
